<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hon.librarytest">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".LibraryTest"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".glide.GlideActivity"/>
        <activity android:name=".disklrucache.DiskLruCacheActivity"/>
        <activity android:name=".handler.HandlerActivity"/>
        <activity android:name=".eventbus.EventBusActivity"/>
        <activity android:name=".swipebacklayout.SwipeBackTestActivity"
            android:theme="@style/NoTitleTheme"/>
        <activity android:name=".webview.WebViewActivity"/>
        <activity android:name=".photoview.PhotoViewActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity android:name=".notificationoreo.NotificationActivity"/>
        <activity android:name=".diffutil.DiffUtilActivity" />
        <activity android:name=".paging.PagingActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".arouter.ARouterActivity" />
        <activity android:name=".arouter.TestActivity" />
        <activity android:name=".arouter.SchemaFilterActivity">
            <intent-filter>
                <data
                    android:host="m.aliyun.com"
                    android:scheme="arouter"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".arouter.Test02Activity" />

    </application>

</manifest>